@charset "utf-8";
body, header, main, footer, nav, section, h1, h2, h3, p, ul, li, button{margin:0; padding:0;}
a{text-decoration: none;}
ul{list-style: none;}
img{display:block;}
hr{display:none;}
body{font-family: arial, '맑은고딕', sans-serif; font-size:12px; }

/* header */

/* header{
    position:absolute; width:100vw; min-width:360px; left:0; top:0; z-index:100000; 
}
header>h1{width:173px; height:29px; margin:10px auto;}
header>.toggle{
    display:block; width: 36px; height:36px;  position:absolute; right:15px; top:7px; 
}
header>.toggle>img{width:100%; height:100%; object-fit:contain; }
header>.toggle:focus+navbar{display:block;}
header>.navbar{
    position:absolute; left:0; top:0; width:100vw; min-height:100vh; background-color:rgba(0,0,0,0.7);
    padding:50px 15px 18px; box-sizing:border-box; display:block; 
}

header>.navbar>ul>li{margin-bottom:16px;}
header>.navbar>ul>li:last-child{margin-bottom:0px;}
header>.navbar>ul>li>a{
    font-size:20px; font-weight:bold; letter-spacing:-1px;
    display:block; border-bottom:1px solid #c30; color:#c30;
}
header>.navbar>ul>li:nth-child(2)>a{ border-color: #093; color:#093;}
header>.navbar>ul>li:nth-child(3)>a{ border-color: #09f; color:#09f;}
header>.navbar>ul>li:nth-child(4)>a{ border-color: #f63; color:#f63;}
header>.navbar>ul>li:nth-child(5)>a{ border-color: #fc3; color:#fc3;}
header>.navbar>ul>li>.sub{margin-top:6px;}
header>.navbar>ul>li>.sub>li{border-left:1px solid #f43; padding-left:10px; margin-bottom:8px;}
header>.navbar>ul>li>.sub>li>a{color:#fff; text-transform:uppercase;}
header>.navbar>ul>li>.sub>li:last-child{margin-bottom:0;} */
/* 겹쳐 있을 때 제일 위로 올라오게 하는거 position:absolute;, z-index:10000; */
/* 토글버튼 40px 이상하지 말 것 */
/* 이미지 잘리면 안되니까 object-fit:contain; */


header{position:absolute; width:100vw; min-width:360px; left:0;  top:0; z-index:10000;}
header>h1{width:173px;  height:29px;  margin:10px auto;}
header>.toggle{display:block;  width:36px;  height:36px;  position:absolute;  right:15px;  top:7px;}
header>.toggle>img{width:100%;  height:100%;  object-fit:contain;}
header>.toggle:focus+navbar{  display:block;  }
header>.navbar{
    position:absolute;  left:0;  top:0;  width:100vw;  min-height:100vh;
    background-color:rgba(0,0,0,0.7);  padding:50px 15px 18px;  box-sizing:border-box;  display:none;}
header>.navbar>ul>li{   margin-bottom:16px;  }
header>.navbar>ul>li:last-child{   margin-bottom:0px;  }
header>.navbar>ul>li>a{
    font-size:20px;  font-weight:bold;  letter-spacing:-1px;  
    display:block;  border-bottom:2px solid #c00;  color:#c00;
}
header>.navbar>ul>li:nth-child(2)>a{  color:#09f;  border-color:#09f;   }
header>.navbar>ul>li:nth-child(3)>a{  color:#3c3;  border-color:#3c3;   }
header>.navbar>ul>li:nth-child(4)>a{  color:#f64;  border-color:#f64;   }
header>.navbar>ul>li:nth-child(5)>a{  color:#fc3;  border-color:#fc3;   }
header>.navbar>ul>li>.sub{  margin-top:6px;  }
header>.navbar>ul>li>.sub>li{  border-left:3px solid #f40;  padding-left:10px;  margin-bottom:8px;  }
header>.navbar>ul>li>.sub>li:last-child{   margin-bottom:0;  }
header>.navbar>ul>li>.sub>li>a{  color:#fff;  text-transform:uppercase;   }


/* main */

.slide_container>.slides{width:100%; overflow:hidden; position:relative;}
.slide_container>.slides{display:flex; }
.slide_container>.slides>div{flex:0 0 100%; /*커지지도 말고 작아지지도 x, 최소한 flex-shrink:0;은 해줘야함*/}
.slide_container>.slides>div>img{width:100vw; height:auto;} /* width 100%와 차이 */
.slide_container>button{
    border:0; width:32px; height:32px; text-indent:-9999px;
    position:absolute; top:25%; transform:translateY(-50%);
    background:rgba(255, 255, 255, 0.219) url("../images/left.png") no-repeat center; 
    background-size:70% 70%;
}
.slides_container>.prev{left:0;}
.slide_container>.next{right:0; background-image:url("../images/right.png");}

.btns{display:flex;}
.btns>a{flex-basis:25%; /*width:25%, flex: 1 1 0;*/}
.btns>a>img{width:100%; height:auto;}

.car_list>ul>li{
    height:57px; background:url("../images/list_bg.gif") repeat-x;
}
.car_list>ul>li>a{
    display:block; height:57px; padding-left:20px; background:url("../images/detail.png") no-repeat right 20px center;
}
.car_list>ul>li>a>img{
    height:57px; /* height:100%; */ width:auto; 
}
/* .car_list>ul>li>a{display:flex; justify-content:space-between; align-items:center; padding:0 20px;}
.car_list>ul>li>a::after{content:""; display:block; width:8px; height:15px; background:url("../images/detail.png") no-repeat;} */
.icons{height:70px; padding:0 15px; background:url("../images/list_bg.gif") repeat-x; background-size:contain;
    display:flex; justify-content:space-between; align-items:center;}
.icons>div>ul{display:flex; gap:5px;}
.icons>.catalog{display:flex; gap:8px; align-items:center;}

footer{display:flex; justify-content:center; align-items:center; height:70px; background:#151515; color:#ededed;}






